<div class="row">
  <% @products.each do |item| %>
  <div class= "col-md-4">
    <div class= "panel panel-default" style="height:600px;">
      <div class= "panel-heading">
        <% if item.image.url.nil? == false %>
        <p><%= image_tag item.image.url, width: "100%" %>
          
        </p>
        <% end %>
      </div>
      <div class= "panel-body">
        <h4><%= link_to item.name, item, class: "panel-title" %></h4>
        <p><%= number_to_currency item.price %></p>
        <p><a href="#" data-toggle="modal" data-target="#modal_<%= item.id %>"><span class="fa fa-plus"></span>Quick Info</a></p>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= link_to item.name, item %></h4>
      </div>
      <div class="modal-body">
        <% if item.image.url.nil? == false %>
        <p><%= image_tag item.image.url, width: "100%" %></p>
        <% end %>
        <p><%= number_to_currency item.price %></p>
        <p>Made by <%= item.brand%></p>
      </div>
      <div class="modal-footer">
  <!-- Delete those "Save Changes" and "Close" buttons that were here -->
  <p>
          <%= form_with(url: add_to_cart_path) do |form| %>
          <%= form.hidden_field :product_id, value: item.id %>
          <%= form.number_field :quantity, placebolder: "How Many?" %>
          <%= form.submit "Add to cart", class: "btn btn-default" %>

          <% end %>
        </p>
</div>
    </div>
  </div>
</div>
  <% end %>
</div>